body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.split-layout {
  display: flex;
  height: 100%;
}

.left {
  flex: 1;
  padding: 20px;
  background-color: gold;
}

.right {
  flex: 2;
  padding: 20px;
}
